@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is a simple Library Management App</h1>
    <p>Click on the Users Tab to View, Edit and Create new users. You can also see the books the users have borrowed by clicking on the user name.</p>
</div>
